body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

header > nav {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  background-color: #e5e5bC;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#featured-property p {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#featured-property figcaption {
  text-align: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#details div {
  display: block;
  float:left;
  background-color: #ee2222;
  text-align: center;
  width: 25%;
}

#details nav {
  display: block;
  float:left;
  background-color: #ee2222;
